.page-container {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  width: 1920px;
  height: 2514px;
}



.header-section {
  margin-top: 90px;
  margin-left: 370px;
  margin-right: 370px;
  background-color: #8893a9;

}

.header-section h2 {
  color: var(--system-color-system-black-900, #111);
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; 
  letter-spacing: -1.2px;  
}


.header-section .highlight {
  color: var(--main-color-Sub-color, #1BBFC1);
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -1.2px;}

.banner-container {
    display: flex;
    margin-top: 60px;
}

.banner-photo {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 880px;
  height: 308px;
  flex-shrink: 0;
  flex-direction: row; /* 가로로 요소들을 나열 */
}

.banner-button2 {
  margin-right: 20px;
  width: 280px;
  height: 308px;
  background-color: #003399;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* 가로로 요소들을 나열 */
  
  color: #FFF;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 131.25% */
}

.results-section {
  margin: 20px 0;
  
}

.results-section h3 {
 
  margin-bottom: 20px;
  margin: 140px;
  margin-left: 370px;
  color: var(--system-color-system-black-900, #111);
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 141.667% */
  letter-spacing: -1.2px;
}

.results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  gap: 40px; /* result-card 간의 간격 설정 */
  background: #003399;
  width: 300px;

}

.result-card {
  width: 60%;
  margin:0 auto;
  height: 275px;
  flex-shrink: 0;
  background: #ffffff;
  box-shadow: 0px 4px 10px -1px rgba(35, 48, 56, 0.08);
  border: 1px solid #e0e0e0; /* 구분선을 추가합니다 */

}



.result-title {
  color: var(--system-color-system-black-900, #111);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  letter-spacing: -0.45px;
}

.result-content {
  width: 340px;
  height: 67px;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--system-color-system-black-600, #666);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
}

.result-details {
  display: flex;
  flex-direction: column;
}

.condition-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.condition.true {
  display: flex;
  height: 44px;
  padding: 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border-radius: 100px;
  color: var(--system-color-system-black-300, #FFFFFF);
  background: var(--main-color-Primary-color, #204598);
}

.condition.false {
  display: flex;
  width: 95px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #F1F1F5;
  color: var(--system-color-system-black-300, #999);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.3px;
}


.detail-link {
  color: #0066cc;
  text-decoration: none;
  margin-top: 10px;
}

.detail-link:hover {
  text-decoration: underline;
}

.load-more-button {
  display: inline-flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 10px;
background: var(--main-color-Sub-color, #1BBFC1);
padding: 16px;
color: #FFF;
text-align: center;
width: 105px;
height: 88px;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: -0.4px;

}
