*{
    box-sizing: border-box;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #dee2e6;
    width: 100%;
    height: 372px;
  }

  
  .footer-top {
    border-bottom: 1px solid #dee2e6;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    flex-shrink: 0;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
  }
  
  .icon-item {
    margin: 0 10px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .company-info {
    text-align: left;
  }
  
  .contact-info {
    text-align: right;
  }
  
  .nav-item-container{
    display:flex;
    flex-direction : row;
  }