
.footer {
    background-color: white;
    border-top: 1px solid #dee2e6;
    width: 80vw;
    height: 372px;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
  }
  
  .icon-item {
    margin: 0 10px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .company-info {
    text-align: left;
  }
  
  .contact-info {
    text-align: right;
  }
  
  .nav-item-container{
    display:flex;
    flex-direction : row;
  }

  .footerContainer{
    display:flex;
    justify-content:center;
    width:100%;
    background-color: white;
  }