:root{
  --font-color : #767676;
  --symbol-background-color : #EFF6FE;
  --notation-background-color : #FFFFFF;
  --notation-border-color : #E5E5EC;
  --notation-button-color : #1BBFC1;
  --notation-font-color : #204598;
}

body,h3 {
  margin: 0;
  padding: 0;
  background-color: var(--symbol-background-color);
}

.NotationExample {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 199px;
}

/* .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
} */

.container .title{
  display: flex;
  justify-content: space-between;
  
}

#notation{
  color: var(--notation-font-color);
}

#date{
  color: var(--font-color);
  margin-bottom: 12px;
  margin-top: 12px;
}
.content {
  margin-top: 24px;
  width: 1180px;
  color: var(--system-color-system-black-900, #111);
font-family: Pretendard;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
letter-spacing: -0.02813rem;
}

.button-container {
  display: flex;
width: 23.75rem;
padding: 1rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
margin-top:6.23rem;
  background: var(--main-color-Sub-color, #1BBFC1);
}

/* button{
  background-color: var(--notation-button-color);
  color: var(--notation-background-color);
  font-size: 15px;
  border: none;
  width: 380px;
  height: 60px;
} */